[Unit]
Description=NEPI Check
After=remote-fs.target

[Service]
Type=simple
User=root
ExecStart=/opt/nepi/config/etc/nepi/nepi_check.py
Restart=always

[Install]
WantedBy=multi-user.target
